@import "tailwindcss";

@theme {
  --color-primary: #22d3ee;
}

.grid-cols-16 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(34, 211, 238, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.4);
}

.vertical-range {
  -webkit-appearance: none;
}

.vertical-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background: transparent;
  cursor: pointer;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  body {
    @apply bg-[#05070a] text-slate-200;
  }
}
